<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Nueva Categoria</h2>
    <form action="#" method="post"
        th:action="@{/nuevaCategoria/submit}"
        th:object="${categoria}">
        Id:<input type="text" th:field="*{id}"><br>
        Nombre:<input type="text" th:field="*{nombre}"><br>
        <input type="submit">
    </form>
</body>
</html>