<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Editar</td>
            <td>Borrar</td>
        </tr>
        <tr th:each="categoria:${categorias}">
            <td th:text="*{categoria.id}"></td>
            <td th:text="*{categoria.nombre}"></td>
            <td><a th:href="@{/editarCategoria/{cat}(cat=${categoria.id})}">Editar</a></td>
            <td><a th:href="@{/borrarCategoria/{cat}(cat=${categoria.id})}">Borrar</a></td>
        </tr>
    </table><br>
    <a th:href="@{/nuevaCategoria}">Nueva Categoria</a><br>
</body>
</html>