<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><!--Arreglar saltos de línea no intencionados-->
    <h1>Formulario subido</h1>
    Nombre: <span th:text="${formulario.nombre}"></span><br>
    <!--nombre introducido en el formulario-->
    Edad: <span th:text="${formulario.edad}"></span><br>
    <!--edad introducida en el formulario-->
</body>
</html>