<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Productos</h1>
    <ul>
        <li>Sillas</li>
        <li>Mesas</li>
        <li>Armarios</li>
    </ul><br>
    <p th:each="elemento:${elementos}"><!--Por cada valor que contenga elementos, ese
    valor se llamará elemento y realizará una acción concreta-->
        <span th:text="${elemento}">*</span>
        <!--En este caso, mostrará el valor del elemento-->
    </p>
    <img src="almacen.jpg">
</body>
</html>