<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span th:if="${f1Resultado!=null}">Días desde el 1 de enero hasta <span th:text="${f1Parametro}"></span>: <span th:text="${f1Resultado}"></span></span>
    <span th:if="${f2Resultado!=null}">Días entre <span th:text="${f2Parametro}"></span> y <span th:text="${f3Parametro}"></span>: <span th:text="${f2Resultado}"></span></span>
    <span th:if="${f3Resultado!=null}">Días entre el 1 de enero y hoy: <span th:text="${f3Resultado}"></span></span>
    <span th:if="${f4Resultado!=null}">El <span th:text="${f4Parametro}"></span> <span th:text="${f4Resultado}"></span> pertenece a un año bisiesto</span>
    <span th:if="${alloUnoParametro!=null && alloDosParametro!=null}">Entre <span th:text="${alloUnoParametro}"></span> y <span th:text="${alloDosParametro}"></span> 
    tienen como años bisiestos:</span>
    <span th:each="factor:${alloResultado}">
        <span th:text="${factor}">Texto de ejemplo</span>
    </span>  
</body>
</html>