<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="estiloUno.css">    
<head th:insert="encabezado">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <h3 class="centrado"><span th:text="${allo}"></span> .Encuentra trabajo. Encuentra trabajadores.</h3>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button type="button" onclick="alert('Texto de ejemplo')">¿Que es Workline?</button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page"
                href="/inicio">Inicio</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page"
                href="/iniciarSesion">Iniciar Sesión</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page"
                href="/quienesSomos">Quienes somos</a></li>
            </ul>
            </div>
        </div>
        </nav> 
        <br>
        <button type="button" class="opcion" onclick="alert('Texto de ejemplo')">Encuentra Ofertas</button>
        <p>¿Necesitas trabajadores para tu empresa?</p>
        <p>Publica tu oferta en Workline </p> 
        <p>y escoge entre los mejores candidatos</p><br>
        <button class="verificar" type="button" onclick="alert('Otro texto de ejemplo')">Verificar enlace/código QR</button><br>
        <h1 align="center">Ofertas de Empleo</h1><br>
        <h2 align="center">¿En que sector buscas trabajo?</h2><br>
        <div class="sector">Hostelería</div>
        <div class="sector">Comercio y Marketing</div>
        <div class="sector">IT</div>
        <div class="sector">Administración y finanzas</div>
        <div class="sector"></div>
        <div class="sector"></div>
        <div class="sector">Botánica</div>
        <div class="sector">Transporte y logística</div>
        <div class="sector">Construcción</div>
        <br>
        <br>
        <br>
        <br>
        <footer>
            <p>Esto es un pie de página</p>
        </footer>
</body>
</html>